/* PC */
@media (min-width: 1024px) {
    .search-menu {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .search-menu {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    #nav {
        max-width: 93px;
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #content-info {
        display: contents;
        width: auto;
    }
    .wrap-tour {
        margin-top: 200px;
    }
    .ticket-info {
        width: 100%;
    }
    #ticket-location {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .ticket-sub-location .ticket-info-location {
        width: auto;
        margin: 6px;
    }
    #contact {
        width: 100%;
    }
}
